$blockquote-border-left: 4px solid #aaa;
$blockquote-padding-left: 1em;

@mixin lists() {
	margin-left: 0;
	padding-left: 0;
	list-style-position: outside;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande","Lucida Sans Unicode", Tahoma, sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-variant-ligatures: common-ligatures;
	font-variant-ligatures: common-ligatures;
	-webkit-font-feature-settings: "kern";
	font-feature-settings: "kern";
	font-kerning: normal;

	input:focus,
	textarea:focus,
	button:focus {
		outline: none
	}

	code {
		font-size: 1.1em;
	}

	blockquote {
		margin-left: 6em;
	}

	blockquote > blockquote {
		margin-left: 0;
	}
}

#layout {
	display: flex;
	position: relative;
	width: 100%;
	height: 100%;
}

#main, #menu {
	position: relative;
	display: flex;
	flex-direction: column;
}

#main {
	width: 100%;
	-ms-flex-order: 2;
	order: 2;
	justify-content: flex-start; /* align items in Main Axis */
	align-items: stretch; /* align items in Cross Axis */
	align-content: stretch; /* Extra space in Cross Axis */

	.main-wrapper {
		padding: 0 1em;
	}

	.header {
		color: #777;
		text-align: center;
		border-bottom: 1px solid #eee;
		padding-bottom: 5px;
		margin-top: 5px;
		margin-bottom: 10px;

		h1, h2 {
			margin: 0;
			padding: 0;
			font-weight: normal;
		}

		h1 {
			font-size: 2em;
		}

		h2 {
			font-size: 1.2em;
		}
	}
}

#help {
	display: none;
	position: absolute;
	top: 0;
	left: 200px;
	overflow-y: scroll;
	background-color: #fff;

	.help-wrapper {
		padding: 2em;
		position: relative;

		font-size: 0.9em;

		.help-header {
			border-bottom: 1px solid #eee;
			text-align: right;

			.help-close {
				color: #777777;
				font-size: 1.2em;
			}
		}

		.help-sample {
			$help-column-gap: 2em;
			$help-border-radius: 4px;

			padding: 1em;
			margin-bottom: 1em;
			-webkit-column-count: 2;
			-moz-column-count: 2;
			column-count: 2;
			-webkit-column-gap: $help-column-gap;
			-moz-column-gap: $help-column-gap;
			column-gap: $help-column-gap;
			-webkit-column-rule: 1px outset #fff;
			-moz-column-rule: 1px outset #fff;
			column-rule: 1px outset #fff;
			-webkit-border-radius: $help-border-radius;
			-moz-border-radius: $help-border-radius;
			border-radius: $help-border-radius;
			border: 1px solid #ccc;
			background-color: #f5f5f5;
			box-shadow: inset 0 1px 3px #ddd;

			pre, p {
				margin: 0;
			}

			pre {
				-webkit-column-break-after: always;
				page-break-after: always;
				break-after: always;
			}

			p {
				-webkit-column-break-inside: avoid;
				page-break-inside: avoid;
				break-inside: avoid;
			}

			blockquote {
				border-left: $blockquote-border-left;
				padding-left: $blockquote-padding-left;
				margin-left: 0;
			}

			ul, ol {
				@include lists();
				margin-left: 1.4em;
			}
		}
	}
}

#menu {
	flex: 0 0 200px;
	-ms-flex-order: 1;
	order: 1;
	background: #385947;
	color: #eee;

	.menu-heading {
		padding-top: 1em;
		text-align: center;

		.logo {
			margin-bottom: -5px;
		}

		.upper {
			border-top: 1px solid #444;
			background-color: #222;
			padding: 7px;
			color: #aaa;
			font-size: 0.8em;
		}

		h2 {
			text-align: left;
			font-size: 1.1em;
			margin-bottom: 0;
			margin-left: 1em;
			text-shadow: 1px 1px 0 black;
		}

		.help {
			color: #fff;
			text-decoration: none;
			position: absolute;
			top: 0.5em;
			right: 0.5em;
		}
	}

	#users {
		margin: 0 1em;
		text-shadow: 1px 1px 0 black;

		#users-list {
			overflow-y: scroll;

			ul {
				list-style-type: circle;
				padding-left: 1.4em;
				margin-top: 0.5em;

				li {
					font-size: 0.9em;
					font-style: italic;
				}
			}
		}
	}

	.menu-footer {
		text-align: center;

		p {
			margin: 1em 1em 0.5em 1em;
			font-size: 0.7em;

			a {
				color: #fff;
			}
		}
	}
}

.messages-scroller {
	position: absolute;
	height: 100%;
	width: auto;
	overflow-y: scroll;
	left: 0.5em;
	right: 0.5em;

	#messages {
		padding-top: 1em;

		.info, .error {
			margin: 0.5em 1em;
		}

		.info {
			color: gainsboro;
			font-family: monospace;
			font-size: 0.9em;
			line-height: 1.2em;
		}

		.error {
			font-weight: bold;
			color: firebrick;
		}

		.message-container {
			font-size: 0.9em;
			line-height: 2em;

			* {
				line-height: 1.3em;
			}

			.message {
				> p {
					margin: 3px 0 0 6em;
				}

				.meta {
					margin-left: -6.5em;

					.username {
						margin-right: 8px;
						font-weight: bold;

						&.me {
							text-decoration: underline;
						}
					}

					.time {
						display: inline-block;
						width: 6em;
						text-align: right;
						padding-right: 1em;
						font-size: 0.8em;
					}
				}

				code {
					background-color: #eeeeee;
				}

				pre {
					background-color: #eeeeee;
					border: 1px solid #ccc;
					padding: 0.5em 0.6em;
					box-shadow: inset 0 1px 3px #ddd;
					border-radius: 4px;
					vertical-align: middle;
					margin-left: 6.5em;

					code {
						background-color: transparent;
					}
				}

				blockquote {
					border-left: $blockquote-border-left;
					padding-left: $blockquote-padding-left;
				}

				.emote {
					font-style: italic;
					color: #777777;
				}

				ul, ol {
					@include lists();
					margin-left: 7em;
				}
			}
		}
	}
}

#message-input {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1em 1em 0 1em;
	margin-top: 1em;
	border-top: 1px solid #eee;

	textarea {
		width: 100%;
		padding: 0.5em 0.6em;
		display: inline-block;
		border: 1px solid #ccc;
		box-shadow: inset 0 1px 3px #ddd;
		border-radius: 4px;
		vertical-align: middle;
		box-sizing: border-box;
		height: 4em;
	}

	.status {
		font-size: 0.75em;
		color: #aaa;
		margin: 0.5em 0 0.5em 0;
	}
}

@media only screen and (min-device-width: 750px) {
	::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 7px;
	}
	::-webkit-scrollbar-thumb {
		border-radius: 4px;
		background-color: rgba(0,0,0,.2);
		box-shadow: 0 0 1px rgba(255,255,255,.5);
	}
}

@media only screen and (max-device-width: 750px) {
	#menu {
		display: none;
	}

	#main {
		width: 100%;

		.header {
			h2 {
				display: none;
			}
		}

		#messages {
			.message-container {
				.message {
					> p {
						margin: 3px 0 0 1.5em;
					}

					.meta {
						display: inline-block;
						width: 100%;
						margin: 0;

						.username {
							margin: 0 0 0 -0.5em;
						}

						.time {
							float: right;
							margin: 2px 0 0 0;
							padding-right: 1em;
							width: auto;
						}
					}

					blockquote, pre {
						margin-left: 1.5em;
						margin-right: 1em;
					}

					ul, ol {
						@include lists();
						margin-left: 2.7em;
					}
				}
			}
		}
	}

	#message-input {
		padding: 0.5em 1em;

		/* prevent iOS safari from zooming in on the input */
		textarea {
			font-size: 16px;
			height: 2em;
		}

		.status {
			margin-bottom: 0;
		}
	}
}