html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande","Lucida Sans Unicode", Tahoma, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
  -webkit-font-feature-settings: "kern";
  font-feature-settings: "kern";
  font-kerning: normal; }
  html input:focus,
  html textarea:focus,
  html button:focus,
  body input:focus,
  body textarea:focus,
  body button:focus {
    outline: none; }
  html code,
  body code {
    font-size: 1.1em; }
  html blockquote,
  body blockquote {
    margin-left: 6em; }
  html blockquote > blockquote,
  body blockquote > blockquote {
    margin-left: 0; }

#layout {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%; }

#main, #menu {
  position: relative;
  display: flex;
  flex-direction: column; }

#main {
  width: 100%;
  -ms-flex-order: 2;
  order: 2;
  justify-content: flex-start;
  /* align items in Main Axis */
  align-items: stretch;
  /* align items in Cross Axis */
  align-content: stretch;
  /* Extra space in Cross Axis */ }
  #main .main-wrapper {
    padding: 0 1em; }
  #main .header {
    color: #777;
    text-align: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 10px; }
    #main .header h1, #main .header h2 {
      margin: 0;
      padding: 0;
      font-weight: normal; }
    #main .header h1 {
      font-size: 2em; }
    #main .header h2 {
      font-size: 1.2em; }

#help {
  display: none;
  position: absolute;
  top: 0;
  left: 200px;
  overflow-y: scroll;
  background-color: #fff; }
  #help .help-wrapper {
    padding: 2em;
    position: relative;
    font-size: 0.9em; }
    #help .help-wrapper .help-header {
      border-bottom: 1px solid #eee;
      text-align: right; }
      #help .help-wrapper .help-header .help-close {
        color: #777777;
        font-size: 1.2em; }
    #help .help-wrapper .help-sample {
      padding: 1em;
      margin-bottom: 1em;
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
      -webkit-column-gap: 2em;
      -moz-column-gap: 2em;
      column-gap: 2em;
      -webkit-column-rule: 1px outset #fff;
      -moz-column-rule: 1px outset #fff;
      column-rule: 1px outset #fff;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background-color: #f5f5f5;
      box-shadow: inset 0 1px 3px #ddd; }
      #help .help-wrapper .help-sample pre, #help .help-wrapper .help-sample p {
        margin: 0; }
      #help .help-wrapper .help-sample pre {
        -webkit-column-break-after: always;
        page-break-after: always;
        break-after: always; }
      #help .help-wrapper .help-sample p {
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid; }
      #help .help-wrapper .help-sample blockquote {
        border-left: 4px solid #aaa;
        padding-left: 1em;
        margin-left: 0; }
      #help .help-wrapper .help-sample ul, #help .help-wrapper .help-sample ol {
        margin-left: 0;
        padding-left: 0;
        list-style-position: outside;
        margin-left: 1.4em; }

#menu {
  flex: 0 0 200px;
  -ms-flex-order: 1;
  order: 1;
  background: #385947;
  color: #eee; }
  #menu .menu-heading {
    padding-top: 1em;
    text-align: center; }
    #menu .menu-heading .logo {
      margin-bottom: -5px; }
    #menu .menu-heading .upper {
      border-top: 1px solid #444;
      background-color: #222;
      padding: 7px;
      color: #aaa;
      font-size: 0.8em; }
    #menu .menu-heading h2 {
      text-align: left;
      font-size: 1.1em;
      margin-bottom: 0;
      margin-left: 1em;
      text-shadow: 1px 1px 0 black; }
    #menu .menu-heading .help {
      color: #fff;
      text-decoration: none;
      position: absolute;
      top: 0.5em;
      right: 0.5em; }
  #menu #users {
    margin: 0 1em;
    text-shadow: 1px 1px 0 black; }
    #menu #users #users-list {
      overflow-y: scroll; }
      #menu #users #users-list ul {
        list-style-type: circle;
        padding-left: 1.4em;
        margin-top: 0.5em; }
        #menu #users #users-list ul li {
          font-size: 0.9em;
          font-style: italic; }
  #menu .menu-footer {
    text-align: center; }
    #menu .menu-footer p {
      margin: 1em 1em 0.5em 1em;
      font-size: 0.7em; }
      #menu .menu-footer p a {
        color: #fff; }

.messages-scroller {
  position: absolute;
  height: 100%;
  width: auto;
  overflow-y: scroll;
  left: 0.5em;
  right: 0.5em; }
  .messages-scroller #messages {
    padding-top: 1em; }
    .messages-scroller #messages .info, .messages-scroller #messages .error {
      margin: 0.5em 1em; }
    .messages-scroller #messages .info {
      color: gainsboro;
      font-family: monospace;
      font-size: 0.9em;
      line-height: 1.2em; }
    .messages-scroller #messages .error {
      font-weight: bold;
      color: firebrick; }
    .messages-scroller #messages .message-container {
      font-size: 0.9em;
      line-height: 2em; }
      .messages-scroller #messages .message-container * {
        line-height: 1.3em; }
      .messages-scroller #messages .message-container .message > p {
        margin: 3px 0 0 6em; }
      .messages-scroller #messages .message-container .message .meta {
        margin-left: -6.5em; }
        .messages-scroller #messages .message-container .message .meta .username {
          margin-right: 8px;
          font-weight: bold; }
          .messages-scroller #messages .message-container .message .meta .username.me {
            text-decoration: underline; }
        .messages-scroller #messages .message-container .message .meta .time {
          display: inline-block;
          width: 6em;
          text-align: right;
          padding-right: 1em;
          font-size: 0.8em; }
      .messages-scroller #messages .message-container .message code {
        background-color: #eeeeee; }
      .messages-scroller #messages .message-container .message pre {
        background-color: #eeeeee;
        border: 1px solid #ccc;
        padding: 0.5em 0.6em;
        box-shadow: inset 0 1px 3px #ddd;
        border-radius: 4px;
        vertical-align: middle;
        margin-left: 6.5em; }
        .messages-scroller #messages .message-container .message pre code {
          background-color: transparent; }
      .messages-scroller #messages .message-container .message blockquote {
        border-left: 4px solid #aaa;
        padding-left: 1em; }
      .messages-scroller #messages .message-container .message .emote {
        font-style: italic;
        color: #777777; }
      .messages-scroller #messages .message-container .message ul, .messages-scroller #messages .message-container .message ol {
        margin-left: 0;
        padding-left: 0;
        list-style-position: outside;
        margin-left: 7em; }

#message-input {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em;
  margin-top: 1em;
  border-top: 1px solid #eee; }
  #message-input textarea {
    width: 100%;
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box; }

@media only screen and (min-device-width: 750px) {
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px; }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5); } }
@media only screen and (max-device-width: 750px) {
  #menu {
    display: none; }

  #main {
    width: 100%; }
    #main .header h2 {
      display: none; }
    #main #messages .message-container .message > p {
      margin: 3px 0 0 1.5em; }
    #main #messages .message-container .message .meta {
      display: inline-block;
      width: 100%;
      margin: 0; }
      #main #messages .message-container .message .meta .username {
        margin: 0 0 0 -0.5em; }
      #main #messages .message-container .message .meta .time {
        float: right;
        margin: 2px 0 0 0;
        padding-right: 1em;
        width: auto; }
    #main #messages .message-container .message blockquote, #main #messages .message-container .message pre {
      margin-left: 1.5em;
      margin-right: 1em; }
    #main #messages .message-container .message ul, #main #messages .message-container .message ol {
      margin-left: 0;
      padding-left: 0;
      list-style-position: outside;
      margin-left: 2.7em; }

  #message-input {
    padding: 0.5em 1em;
    /* prevent iOS safari from zooming in on the input */ }
    #message-input textarea {
      font-size: 16px; } }

/*# sourceMappingURL=app.css.map */
