<div id="main">
	<div class="main-wrapper">
		<div class="header">
			<h1>ChatFort 54</h1>
			<h2>Where you can sling insults in real time&hellip;</h2>
		</div>
		<div class="content">
			<section>
				<div class="messages-scroller">
					<div id="messages"></div>
				</div>
				<div id="message-input">
					<textarea id="chat-input" placeholder="say anything" autofocus disabled></textarea>
				</div>
			</section>
		</div>

	</div>
</div>