<div id="help">
	<div class="help-wrapper">
		<div class="help-header">
			<a class="help-close" href="#"><i class="fa fa-times"></i></a>
		</div>
		<div class="help-inner">

			<h3>Text Formatting</h3>
			<table>
				<tbody>
					<tr>
						<th>
<pre><code>*this text is italic*
_so is this text_
</code></pre>
						</th>
						<td>
							<em>this text is italic</em><br>
							<em>so is this text</em>
						</td>
					</tr>
					<tr>
						<th>
<pre><code>**this text is bold**
__so is this text__
</code></pre>
						</th>
						<td>
							<strong>this text is bold</strong><br>
							<strong>so is this text</strong>
						</td>
					</tr>
				</tbody>
			</table>

			<h3>Commands</h3>
			<table>
				<tbody>
					<tr>
						<th>
<pre><code>/help</code></pre>
						</th>
						<td>
							Displays this help dialog.<br>
							Use the <code>X</code> in the upper right or the <code>esc</code> key to dismiss.
						</td>
					</tr>
					<tr>
						<th>
<pre><code>/me likes candy
</code></pre>
						</th>
						<td>
							Displays action text, ie:<br>
							<em>{yourUsername} likes candy</em>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>