<div id="help">
	<div class="help-wrapper">
		<div class="help-header">
			<a class="help-close" href="#"><i class="fa fa-times"></i></a>
		</div>
		<div class="help-inner">

			<h3>Text Formatting</h3>

			<div class="help-sample">
				<pre><code>*this text is italic*
_so is this text_</code></pre>
				<p><em>this text is italic</em><br>
					<em>so is this text</em></p>
			</div>

			<div class="help-sample">
				<pre><code>**this text is bold**
__so is this text__</code></pre>
				<p><strong>this text is bold</strong><br>
					<strong>so is this text</strong></p>
			</div>

			<h3>Commands</h3>

			<div class="help-sample">
				<pre><code>/help</code></pre>
				<p>Displays this help dialog.<br>
					Use the <code>X</code> in the upper right or the <code>esc</code> key to dismiss.</p>
			</div>

			<div class="help-sample">
				<pre><code>/me likes candy</code></pre>
				<p>Displays this help dialog.<br>
					Use the <code>X</code> in the upper right or the <code>esc</code> key to dismiss.</p>
			</div>
		</div>
	</div>
</div>