<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{{ pageTitle | default('Chat!') }}</title>
	<link rel="shortcut icon" href="favicon.ico" />
	<link rel="stylesheet" href="css/app.css?v={{ constant('APP_VERSION') }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
	<div id="layout">
		{% include 'content.twig' %}
		{% include 'menu.twig' %}
	</div>

	{% include 'help.twig' %}
	{% include 'scripts.twig' %}
</body>
</html>