<div id="menu">
	<div class="menu-heading">
		<a class="help" href="#"><i class="fa fa-question-circle"></i></a>
		<img class="logo" src="http://treefort54.com/mies/images/calm/logo.png" alt="TreeFort 54!" width="140"/>
		<div class="upper">{{ user.getUsername() }}</div>
		<h2>Users:</h2>
	</div>

	<div id="users">
		<div id="users-list">
			<ul class="menu-list"></ul>
		</div>
	</div>

	<div class="menu-footer">
		<p><a href="https://github.com/Gipetto/Chatfort54" target="_blank">Chatfort 54</a> | Version: {{ constant('APP_VERSION') }}</p>
	</div>
</div>